{
"appName":"MoreLikeThis",
"classPath":"MoreLikeThisJob",
"recurrence":"daily",
"CassandraGeoKeyspaceBase":"@",
"CassandraLocalKeyspaceBase":"@",
"startTime":"@",
"endTime":"@",
"sink.azureBlob.account" : "@",
"sink.azureBlob.key" : "@",

"arguments":{
"sink.type"  : "azureBlob",
"sink.local.filename" : "./morelikethis",
"numberOfMatches": 10
}
}